<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Model Operations</h1>

    <!-- Display result returned from functions -->
    <p>{{ result }}</p>

    <!-- Buttons to trigger specific functions -->
    <form method="POST" action="/execute">
        <button type="submit" name="action" value="Train Model">Train Model</button>
        <button type="submit" name="action" value="Evaluate Model">Evaluate Model</button>
        <button type="submit" name="action" value="Get Global Weights">Get Global Weights</button>
        <button type="submit" name="action" value="Send Model to Server">Send Model to Server</button>
    </form>

    {% if showplot %}
        <img src="{{ url_for('plot_png') }}" alt="Training Graph" class="center">
    {% endif %}
</body>

</html>
